.CBL-connexion-body {
  background-image: url("../../assets/fondEcran/fondEcranPokemonPlage.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.CBL-connexion-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.699);
}

.CBL-connexion-intro {
  background-image: url("../../assets/fondEcran/fondEcranPokemon.png");
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CBL-connexion-messageRetour {
  color: #823217;
  height: 60px;
  margin-bottom: 5%;
  font-family: Monaco, monospace;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-cartePrimeur {
  color: white;
  font-family: Monaco, monospace;
  font-size: 25px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-cartePrimeurLien {
  color: #823217;
  text-decoration: none;
  width: 265px;
  border: 2px solid #823217;
}

.CBL-connexion-inscription {
  color: black;
  font-family: Monaco, monospace;
  font-size: 20px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-inscriptionLien {
  color: black;
  font-family: Monaco, monospace;
  font-size: 20px;
  margin-top: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-form {
  border: 0.001px solid rgb(53, 53, 53);
  background-color: rgb(53, 53, 53);
  height: 100%;
}

.CBL-connexion-titre {
  color: rgb(255, 255, 255);
  font-family: Monaco, monospace;
  font-size: 35px;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-email {
  color: rgb(183, 52, 235);
  font-family: Monaco, monospace;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CBL-connexion-motPasse {
  font-family: Monaco, monospace;
  height: 35px;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CBL-connexion-textBox {
  height: 35px;
  width: 300px;
  border-radius: 50px;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(119, 119, 119);
  color: white;
  font-size: 18px;
  text-indent: 10px;
}

.CBL-connexion-textBox::placeholder {
  color: white;
  text-indent: 10px;
  font-size: 15px;
}

.CBL-connexion-cacher {
  color: rgb(255, 255, 255);
  font-family: Monaco, monospace;
  display: flex;
  margin-left: 20%;
  margin-top: 1%;
}

.CBL-connexion-lien {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 45px;
}

.CBL-connexion-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100%;
  background-color: rgb(31, 45, 165);
  font-size: 18px;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}
